

html {
  background-color:#999999;
  font-family: "brandon-grotesque", sans-serif;
}

input {
  margin: .5em 0 .5em .75em;
  height: 1.5em;
  width: 7.5em;
  font-size: 3em;
  vertical-align: middle;
}

h1 {
  background-color: #B3432B;
  padding:.5em;
  color:#FFFFFF;
  font-size:4em;
}

h2 {
  font-size: 3em;
  padding: .5em 0 .5em .75em ;
}

li{
  padding:.5em 1em;
  font-size: 2em;
}

li > img {
  float:right;
  margin: 0 .5em .1em 0;
}

li:nth-child(odd){
  background-color: #ededed;
}

p {
  color:#B3432B;
  padding:.5em 1em;
  font-size: 2em;
}

#main{
  width:60%;
  margin: 0 auto;
  background-color: #FFFFFF;
}

#search{
  background: #000000;
}

#clear-cart{
  background: #000000;
  text-align: center;
  color: #FFFFFF;
  font-size: 3em;
  padding: .5em 0;
}

button {
  height: 7.2em;
  width: 7.2em;
  vertical-align: middle;
  margin: .5em 0 .5em .75em;
  background-color: #2E8B57;
  border:0px;
}

@media only screen and (max-width: 40em){
  #main{
    width:100%;
  }
}
